

.mainsheet {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}

.charname {
    grid-column: 1 / 2;
    grid-row: 1;
}

.statsroll {
    grid-column: 1;
    grid-row: 3 ;
}

.statics {
    grid-column: 1 ;
    grid-row: 4 ;
}

.inv {
    grid-column: 2 ;
    grid-row: 3 / 4;
}

.notes {
    grid-column: 2  ;
    grid-row: 4;
  
}


.charsheet{
	background-color:white;
	color:black;
}

body.sheet-darkmode button,
body.sheet-darkmode input,
body.sheet-darkmode optgroup,
body.sheet-darkmode select,
body.sheet-darkmode textarea,
body.sheet-darkmode .charsheet {
	color: #a00000;
    background-color:#181a1b;

}
body.sheet-darkmode .btn,
body.sheet-darkmode .btn.btn-default {
	color: #a00000;
	text-shadow: rgba(24,26,27,.75) 0px 1px 1px;
	background-color: #1e2021;
	background-image: linear-gradient(#181a1b, #26292b);
	border-color: #3e4446 #3e4446 #43494c;
	box-shadow: rgba(24,26,27,.2) 0px 1px 0px inset,rgba(0,0,0,.05) 0px 1px 2px
}